@media screen and (max-width: 1200px) {
    .features-images img{
        max-width: 100%;
        height: auto;
    }
    .card-container{
    grid-template-columns: repeat(2, 240px);
  }
}
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 30px;
  }
  .features{
    flex-direction: column;
  }
}

@media screen and (max-width: 576px) {

    .banner{
    width: 95%;
    margin-top: 40px;

}
  .nav-links {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
  .banner-title {
    font-size: 2rem;
  }
  .brand {
    font-size: 2rem;
  }
  .features-images{
    grid-template-columns: repeat(1,1fr);
  }
  .features-content{
    margin: 0 10px;
  }
      .card-container{
    grid-template-columns: repeat(1, 240px);
  }
}

