@media screen and (max-width: 1200px) {
    .features-images img{
        max-width: 100%;
        height: auto;
    }
    .card-container{
    grid-template-columns: repeat(2, 240px);
  }
  .sponsors-logo-container{
    grid-template-columns: repeat(3,auto);
}
.exp-container {
flex-direction: column;
}
}
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 30px;
  }
  .features{
    flex-direction: column;
  }
  .sponsors-logo-container{
    grid-template-columns: repeat(2,auto);
}
.features-content{
    margin: 0 10px;
  }
}

@media screen and (max-width: 576px) {

    .banner{
    width: 95%;
    margin-top: 40px;
}
  .nav-links {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
  .banner-title {
    font-size: 2rem;
  }
  .brand {
    font-size: 2rem;
  }
  .features-images{
    grid-template-columns: repeat(1,1fr);
  }
  .features-content{
    margin: 0 10px;
  }
      .card-container{
    grid-template-columns: repeat(1, 240px);
  }
    .sponsors-logo-container{
    grid-template-columns: repeat(1,auto);
}
.exp-img{
position: static;
}
#exp-badge{
position: static;
    padding: 15px 12px;
}
#exp-badge h1{
    font-size: 30px;
    font-weight: bold;
    line-height: 35px;
}
#exp-badge p{
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
}
.sponsors-logo-container{
  gap: 40px;
}
}

