/* Universal CSS */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Common CSS */
.btn{
    padding: 20px 25px;
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 600;
    background-color: #FF900E;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}
header{
    background-color: #FF900E10;
    padding-bottom: 30px;
}

/* Navbar CSS */
.navbar{
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    
}
.brand{
    color: #131313;
    font-size: 2.813rem;
    font-weight: bold;
}
.nav-links{
    display: flex;
    gap: 50px;
    list-style: none;
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #727272;
    line-height: 18px;
}
/* Banner CSS */
.banner{
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 100px;
}
.banner img{
    width: 100%;
    border-radius: 8px;
}
.banner-content{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
}
.banner-content *{
    margin-bottom: 30px;
}
.banner-title{
    color: #131313;
    font-size: 4rem;
    font-weight: bold;
}
.banner-content p{
    font-size: 16px;
    color: #727272;
    line-height: 26px;
}
